@tailwind utilities;

@font-face {
  font-family: "mynerve";
  src: url(assets/fonts/Mynerve-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "firacode";
  src: url(assets/fonts/FiraCode-Regular.ttf) format("truetype");
}

body {
  margin: 0;
  padding: 50px;
}

:root {
  font-family: "mynerve", system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

p {
  font-family: "firacode", monospace;
}

button {
  font-family: "firacode", monospace;
}

span.correct-char {
  color: rgb(74, 224, 224);
}

span.wrong-char {
  color: #e4a752;
}

span.active {
  border-bottom: rgb(74, 224, 224) 3px solid;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    border-bottom: rgb(0, 185, 185) 3px solid;
  }
  50% {
    border-bottom: rgba(0, 185, 185, 0) 3px solid;
  }
  100% {
    border-bottom: rgb(0, 185, 185) 3px solid;
  }
}

.input-field {
  margin: auto;
  width: 41rem;
  /* padding: rem; */
  position: absolute;
  outline: none;
  z-index: -999;
  opacity: 0;
}
